
@{
    ViewBag.Title = "ManufacturerView";
    var options = new AjaxOptions
    {
        UpdateTargetId = "result",
    };
}

<h2>ManufacturerView</h2>

<div id="paging">
    @if (ViewBag.PageCount > 1)
    {
        for (int i = 0; i < ViewBag.PageCount; i++)
        {


            @Ajax.ActionLink($"{i + 1}", "ManufacturerTable", new { id = @i + 1 }, options, new { @class = "btn btn-success" });
        }
    } 
    @Ajax.ActionLink("Add", "ManufacturerEdit", new { @id = -1 }, options, new { @class = "btn btn-success" })
    
</div>

<div id="result">

</div>

<li>
    <a href="@Url.Action("Index", "Home/Index")" class="elements">
        <span>Home</span>
    </a>
    <a href="@Url.Action("Index", "Good/GoodView")" class="elements">
        <span>Goods</span>
    </a>
    <a href="@Url.Action("Index", "Category/CategoryView")" class="elements">
        <span>Categories</span>
    </a>
    <a href="@Url.Action("Index", "Manufacturer/ManufacturerView")" class="elements">
        <span>Manufacturers</span>
    </a>
</li>