@model IEnumerable<BLL.DTO.GoodDTO>
@{ 
    var options = new AjaxOptions
    {
        UpdateTargetId = "result3",
        HttpMethod = "Delete"
    };
    var options2 = new AjaxOptions
    {
        UpdateTargetId = "result3",
    };
}
<table class="table table-bordered">
    <thead>
        <tr>
            <th>GoodId</th>
            <th>GoodName</th>
            <th>Manufacturer</th>
            <th>Category</th>
            @if (User.Identity.IsAuthenticated)
            {
                <th>Delete</th>
                <th>Edit</th>
            }
            </tr>
    </thead>
    <tbody>
        @foreach (var good in Model)
        {
        <tr>
            <td>@good.GoodId</td>
            <td>@good.GoodName</td>
            <td>
                @good.ManufacturerName
            </td>
            <td>
                @good.CategoryName
            </td>
            @if(User.Identity.IsAuthenticated){
            <td>
                @Ajax.ActionLink("DELETE", "DELETE", new { @id = good.GoodId }, options, new { @class = "btn btn-danger" })
            </td>
            <td>
                @Ajax.ActionLink("Edit", "GoodEdit", new { @id = good.GoodId }, options2, new { @class = "btn btn-success" })
            </td>
            }
        </tr>
        }
    </tbody>
</table>
