
@{
    ViewBag.Title = "GoodView";
}

<h2>GoodView</h2>
<div>
    <a href="@Url.Action("Index", "Home/Index")" class="elements">
        <span>Home</span>
    </a>
    @if (ViewBag.PageCount > 1)
    {
        for (int i = 0; i < ViewBag.PageCount; i++)
        {
            @Html.ActionLink($"{i + 1}", "GoodView", new { @id = i + 1 }, new { @class = "btn btn-success" })
        }
    }
    </div>
<table class="table table-bordered">
    <thead>
        <tr>
            <td>
                Id
            </td>
            <td>
                Good
            </td>
        </tr>
    </thead>
    <tbody>
        @foreach(var good in ViewBag.Goods)
        {
            <tr>
                <td>
                    @good.GoodId
                </td>
                <td>
                    @good.GoodName
                </td>
                <td>
                    @good.ToString().Substring(8)
                </td>
            </tr>
        }
    </tbody>
</table>