@model Homework.Models.GoodViewModel


<div>
    @using (Ajax.BeginForm("GoodEdit", "Good", new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "result3" }))
    {
        <p>
            @Html.HiddenFor(x => x.Good.GoodId)
        </p>
        <p>
            @Html.LabelFor(x => x.Good.GoodName)
        </p>
        <p>
            @Html.ValidationMessageFor(x => x.Good.GoodName)
        </p>
        <p>
            @Html.TextBoxFor(x => x.Good.GoodName)
        </p>
        <p>

            @Html.DropDownListFor(model => model.Good.CategoryId, Model.Category)
        </p>
        <p>

            @Html.DropDownListFor(model => model.Good.ManufacturerId, Model.Manufacturer)
        </p>
        <input type="submit" class="btn btn-default" />
    }
</div>


