
@{
    ViewBag.Title = "CategoryView";
    var options = new AjaxOptions
    {
        UpdateTargetId = "result2",
    };
}
<h2>CategoryView</h2>
<div id="paging">
    @if (ViewBag.PageCount > 1)
    {
        for (int i = 0; i < ViewBag.PageCount; i++)
        {


            @Ajax.ActionLink($"{i + 1}", "CategoryTable", new { id = @i + 1 }, options, new { @class = "btn btn-success" });
        }
    }  @if (User.Identity.IsAuthenticated)
    {
        @Ajax.ActionLink("Add", "CategoryEdit", new { @id = -1 }, options, new { @class = "btn btn-success" })
    }
    else
    {
        @Html.ActionLink("Admin acceses", "Login", "Auth");
    }
</div>
<div id="result2">
</div>
<li>
    <a href="@Url.Action("Index", "Home/Index")" class="elements">
        <span>Home</span>
    </a>
    <a href="@Url.Action("Index", "Good/GoodView")" class="elements">
        <span>Goods</span>
    </a>
    <a href="@Url.Action("Index", "Category/CategoryView")" class="elements">
        <span>Categories</span>
    </a>
    <a href="@Url.Action("Index", "Manufacturer/ManufacturerView")" class="elements">
        <span>Manufacturers</span>
    </a>
</li>